*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}
.time__select,
.sound__picker{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}
.time__select button,
.sound__picker button {
  color: white;
  width: 30%;
  height: 10%;
  background: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid white;
 
}
.player__container--play{
  height: 300px;
  width: 300px;
  border: 10px solid white;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  background: none;
}
.player__container--play img{
  padding-top: 10px;
  padding-left: 10px;
}
.sound__picker button {
    border: none;
    height: 120px;
    width: 120px;
    padding: 30px;
    border-radius: 50%;
}
.sound__picker button:nth-child(1) {
    background: #4972a1;
}
.sound__picker button:nth-child(2) {
    background: #a14f49;
}
.sound__picker button img {
    height: 100%;
}
.time__select button:hover {
    background: white;
    color: black;
}
.player__container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex: 1;
  }
  /* .player__container svg {
    position: absolute;
    height: 50%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    pointer-events: none;
  }
  .player__container svg circle {
    transition: all 0.2s ease-in-out;
  } */
  .time-display {
    color: white;
    position: absolute;
    font-size: 50px;
    bottom: 5%;
  }
  
  video {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -10;
  }
  